html, body { width: 100%; height: 100%; background-color: #FD686A; }

* { outline: none; }

/*.shrink { -webkit-transform: scale(.9); }*/

#wrapper { width: 100%; height: 100%; min-height: 500px; }

#flag { position: fixed; left: 0px; bottom: 0px; width: 95px; height: 76px; background: url("../img/flag.png") top left no-repeat; }

#header { width: 100%; height: 62px; background: #FFF3E2; position: relative; }

#language { position: absolute; top: 0px; left: 0px; font: normal 17px "brandon-grotesque"; font-weight: 900; letter-spacing: 2px; color: #ff6767; padding-top: 17px; padding-left: 70px; }
#language a { color: #ff6767; }
#language a:hover {	color: #ffb3b3; }

#tags { margin: 0 auto; width: 505px; padding-top: 14px; }
#tags a, #tags span { float: left; color: #ff6767; font: normal 22px "brandon-grotesque"; font-weight: 900; letter-spacing: 2px; }
#tags a.first, #tags span.first { margin-right: 26px; }
#tags a:hover { color: #ffb3b3; }

#social { position: absolute; top: 0px; right: 0px; padding: 15px 57px 0px 0px; }
#social a { margin-left: 26px; }
#social a:hover { opacity: .5; }

#main { padding-top: 70px; padding-bottom: 150px; }
#main .headline { border-bottom: 20px solid #fff3e1; margin: 0 auto; width: 836px; padding-bottom: 51px; }
#main .headline h1 { color: #fff3e1; font: normal 87px "brandon-grotesque"; font-weight: 900; letter-spacing: 2px; }
#main form { padding-top: 90px; width: 836px; margin: 0 auto; width: 836px; }
#main form p { color: #FFF3E2; font: normal 24px "brandon-grotesque"; font-weight: 900; letter-spacing: 2px; margin-bottom: 20px; }
#main form .count { color: #FFF3E2; font: normal 24px "brandon-grotesque"; font-weight: 700; letter-spacing: 2px; text-align: right; }
#main form .count .charsleft { }
#main form .disclaimer { color: #FFF3E2; font: normal 21px "brandon-grotesque"; font-weight: 400; margin-bottom: 55px; }
#main form input, #main form textarea { padding: 24px 0px 24px 39px; margin-bottom: 80px; border: none; background-color: #FFF3E2; color: #ff6767; font: normal 26px "brandon-grotesque"; font-weight: 400; letter-spacing: 2px; width: 794px; }
#main form textarea.last { margin-bottom: 20px; }
#main form .submit { background-color: #FFF3E2; color: #FD686A; font: normal 22px "brandon-grotesque"; font-weight: 700; padding: 12px 0px 12px 0px; width: 187px; text-align: center; cursor: pointer; }

#main-tweets { padding-bottom: 150px; padding-top: 70px; }
#main-tweets .headline { border-bottom: 20px solid #fff3e1; margin: 0 auto; width: 836px; padding-bottom: 51px; margin-bottom: 70px; position: relative; }
#main-tweets .headline h1 { color: #fff3e1; font: normal 87px "brandon-grotesque"; font-weight: 900; letter-spacing: 2px; }
#main-tweets .headline p { color: #fff3e1; font: normal 21px "brandon-grotesque"; font-weight: 700; letter-spacing: 2px; line-height: 35px; }
#main-tweets .headline .button { cursor: pointer; position: absolute; top: 0px; right: -250px; width: 186px; height: 185px; background: url("../img/tweethere.png") top left no-repeat; }
#main-tweets .headline .button_turk { cursor: pointer; position: absolute; top: 0px; right: -250px; width: 186px; height: 185px; background: url("../img/tweethere_turk.png") top left no-repeat; }

#tweets { width: 834px; margin: 0 auto; }
#tweets .tweet { margin-bottom: 70px; position: relative; }
#tweets .tweet .name { color: #FFF3E2; padding-left: 30px; margin-bottom: 18px; font: normal 22px "brandon-grotesque"; font-weight: 400; }
#tweets .tweet .name span { font-weight: 200; }
#tweets .tweet .copy { color: #FD686A; background: #FFF3E2; padding: 48px 0px 48px 36px; font: normal 26px "brandon-grotesque"; font-weight: 400;  }
#tweets .tweet .time { color: #FFF3E2; position: absolute; right: -100px; bottom: 0px; font: normal 22px "brandon-grotesque"; font-weight: 400; line-height: 19px; }

#wrapper.english .turk { display: none; }
#wrapper.english .english { display: auto; }

#wrapper.turk .english { display: none; }
#wrapper.turk .turk { display: auto; }

/*

Thin	"brandon-grotesque-n1", "brandon-grotesque"	100	normal	

Light	"brandon-grotesque-n3", "brandon-grotesque"	300	normal	

Regular	"brandon-grotesque-n4", "brandon-grotesque"	400	normal	

Medium	"brandon-grotesque-n5", "brandon-grotesque"	500	normal	

Bold	"brandon-grotesque-n7", "brandon-grotesque"	700	normal	

Black	"brandon-grotesque-n9", "brandon-grotesque"	900	normal	

*/